<html>
<head>
	<title>Calls</title>
</head>
<body>
	<div class="container">
		<h2>Calls</h2>
		{% for call in calls %}
		<strong>Creation time:</strong> {{call.call_creation_time}} <br>
		<strong>Call ID:</strong> {{call.call_id}} <br>
		<strong>User ID:</strong> {{call.user_id}} <br>
		<strong>Duration:</strong> {{call.duration}} <br>
		<strong>Call Type:</strong> {{call.call_type}} <br>
		<strong>Number:</strong> {{call.call_number}} <br>
		<strong>User Location:</strong> {{call.from_country}} <br>
		<strong>Other number Location:</strong> {{call.to_country}} <br>
		<br>
		{% endfor %}
	</div>
	<br>

</body>
</html>